
{{#if userInSession}}
<div class="container-fluid row">
<h3 class="mt-4">Bienvenid@, {{userInSession.name}}</h3>

<hr/>
<h5>Catálogo  de artistas:</p>
</div>
<div class="container-fluid row">
  
{{#each users}}



  <div class="card col-6 ml-4 bg-transparent">
    <img src="{{this.image}}" class="img-fluid center" alt="foto"/>
  
      <h5>Nombre de usuario:  {{this.name}}</h5>
      <h5>Correo electrónico: {{this.email}}</h5>
      <h5>Número de contacto: {{this.phoneNumber}}</h5>
      <p>Área(s) artísticas:  {{this.area}}</p>
    </div>



{{/each}}

</div>
{{else}}
<div class="card bg-dark text-white mt-4">
  <img src="images/indexImg.png" class="card-img" alt="background">
  <div class="card-img-overlay">
    <h3>Lo sentimos, para acceder a esta sección tienes que iniciar sesión</h3>
    <a href="/inicio" class="btn btn-primary mt-3">INICIA SESIÓN</a>
  </div>
 </div> 
{{/if}}
