{{#if userInSession}}

<h3>Bienvenid@, {{userInSession.name}}</h3>
<img src="{{userInSession.image}}" alt="foto" style="width: 500px; height:700px"/>

<h5>Información de perfil:</h5>
<p>Público:             {{userInSession.service}}</p>
<p>Servicio ofrecido:   {{userInSession.description}}</p>
<p>Correo electrónico:  {{userInSession.email}}</p>
<p>Número telefónico:   {{userInSession.phoneNumber}}</p>
{{else}}

<p>Lo sentimos, aún no has iniciado sesión</p>

{{/if}}