<a href='/agregar' class="mt-4 btn btn-primary">Agregar servicio</a>

<hr/>

<h5 class="mt-4">Catálogo de servicios:</h5>
<div class="card-deck w-50 mt-4 align-center">
  {{#each services}}
  
  <div class="card bg-transparent">
    <img class="card-img-top w-50 p-3" src="{{image}}" alt="foto"/>
    <div class="card-body text-center">  
        <h3 class="card-title">{{name}}</h3>
        <h5 class="card-text">Usuario: {{artist}}</h5>
        <p class="card-text">Area artística: {{area}}</p>
        <p class="card-text">Audiencia: {{public}}</p>
    </div>
  </div>

  {{/each}}

</div>